@keyframes colors {
    0% { border-color: rgb(22, 22, 73);}
    15% { border-color: rgb(53, 29, 75);}
    100% { border-color:rgb(35, 47, 83);}    
}
@keyframes letras {
    0% {text-shadow:5px 2px 2px rgba(128, 0, 128, 0.24);}
    50% {text-shadow:5px 2px 2px rgba(128, 0, 128, 0.568);}
    100% {text-shadow:5px 2px 2px rgba(128, 0, 128, 0.678);}
}
body {
    font-size: 'Open Sans', sans-serif;
    margin: 0;
    background-color:#d6d6d6;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.menu-top a {
    margin-left: 40px;
    text-decoration: none;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-top .select {
    border-bottom: solid 3px black;
    padding-bottom: 9px;
}
.menu-top .select:hover {
    border-bottom: solid 3px rgb(253, 35, 35);
    padding-bottom: 9px;
}
.menu-top a:hover {
    padding: 7px;
    border-radius: 20px;
    background-color:purple;
    border-bottom: 2.4px solid black;
    color: black;
    text-decoration:dotted;
}
.menu-top {
    display: flex;   
    align-items: center;
    text-align: center;
    justify-content: center;
}
.bar {
    background-color: #4c0a55c7;
    width: 168px;
    height: 22px;
}
.formulario option {
    background-color: blue;
}
.formulario input {
    border-radius: 20px;
    background-color: white;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formulario {
    text-shadow: 1px 1px 1px black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid;
    border-color: purple;
    border-radius: 1px;
   
    background-color: rgba(0, 0, 0, 0.6);
}
.wpp {
    
    background-color: black;
    color: white;
    animation: colors;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border-style:2px inherit;
    
}
.wpp a {
    height: 100%;
    color: white;
    text-decoration: none;
}
.wpp:hover {
    background-color: black;
    color: blue;
    border-color: green;
    width: 100px;
    height: 30px;
    border-radius: 20px;

}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: bold;
    line-height: 90px;
    margin: 0;
    margin-bottom: 30px; 
    animation: letras;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    text-shadow: 5px 2px 2px ;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    line-height: 35px;
    margin: 20 0;  
}
.button {
    border: 2px solid #454545;
    text-decoration: none;
    padding: 10px 30px;
    color: #454545;
    display: inline-block;
    border-radius: 3px;
}
.button:hover {
    border: 2px solid #454545;
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    display: inline-block;
    border-radius: 3px;
    background-color: #454545;
}
header .line {
    background-color: #030806;
    height: 10px;
}
.header--right {
    display: flex;
    align-items: center;
}
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header--left img {
    width: 80px;
    height: 80px;
    justify-content: center;
    border-radius: 100px;
}
.header--search form {
    display: flex;
}
.header--search input {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}
.header--search button {
   border: 0;
   background-color: transparent;
   margin-left:-30px ;
   cursor: pointer;
}
.header--search button img {
    width: 16px;
    height: 16px;
}
.header--menu {
    margin-left: 50px;
    cursor: pointer;
}
.header--menu img {
    width:27px ;
    height: 27px;
}
.banner {
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    border: 0;
}
.banner--images img {
    width: 148px;
    height: 160px;
    border: 2px solid black;
    border-radius: 50px;
    margin-right: 30px;
    
}
.banner--images img:hover {
    width: 148px;
    height: 160px;
    border: 3px solid black;
    border-radius: 50px;
    margin-right: 30px;
}
.banner--images {
    margin-top: 60px;
}
.area-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area-1--content {
    padding: 80px;
    font-size: 26px;
}
.area-1-img1 {
    background-image: url(Imagens/f2.jpg);
    background-size: cover;
    background-position: center;
    height: 347px;
}

.area-1-img2 {
    background-image: url(images/laser.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.area-1--quote {
    margin-bottom: 50px;
}
.area-1--text {
    margin-bottom: 50px;
    line-height: 25px;
    margin: 50px auto 0;
}
.area-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area-2--content {
    padding: 80px;
}
.area-2-img1 {
    background-image: url(Imagens/f4.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}

.area-2-img2 {
    background-image: url(Imagens/f3.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.area-2--text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area-3--content {
    padding:250px 80px;
    background-image:url(Imagens/bg2.jpg);
    background-size:cover;
    background-position:left;
}
.area-3-img1 {
    background-image: url(Imagens/f5.jpg);
    background-size: cover;
    background-position: center;
}
.area-3--text {
    margin-bottom: 50px;
    line-height: 25px;
   
}
.area-4 {
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #e8e9ee;
}
.area-4--content {
    padding:150px 80px;
    
}
.area-4--text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area-4--img1 {
    background-image: url(Imagens/bg3.jpg);
    background-size: cover;
    background-position:left ;
}
.area-5 {
    background-image: url(Imagens/bg4.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}
footer {
    background-color: #333333;
    color: white;
    padding:30px;
    text-align: center;
}
@media (min-width:769px) and (max-width:1140px) {
    .container {
        padding-left:20px;
        padding-right: 20px;
    }

}
@media (min-width:426px) and (max-width:768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .area-1 {
            display: grid;
            grid-template-columns: 3fr 2fr;
        }
    .area-2 {
            display: grid;
            grid-template-columns: 2fr 3fr;
        }
    .area-3 {
            display: grid;
            grid-template-columns: 3fr 2fr;
        }
        .menu-top a {
            margin-left: 40px;
            text-decoration: none;
            color:black;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .menu-top .select {
            border-bottom: solid 3px black;
            padding-bottom: 9px;
        }
        .menu-top .select:hover {
            border-bottom: solid 3px rgb(253, 35, 35);
            padding-bottom: 9px;
        }
        .menu-top a:hover {
            padding: 7px;
            border-radius: 20px;
            background-color:purple;
            border-bottom: 2.4px solid black;
            color: black;
            text-decoration:dotted;
        }
        .menu-top {
            display: flex;   
            align-items: center;
            text-align: center;
            justify-content: center;
        }
}
@media (max-width:425px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header--menu {
        margin-left: 20px;

    }
    .header--search input {
        max-width: 80px;
    }
    h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .banner--images img {
        width: 70px;
        height: 70px;
        border: 2px solid #681170c5;
        border-radius: 50px;
        margin-right: 10px;
    }
    .area-1 {
        grid-template-columns: 1fr;
    }
    .area-1--content {
        padding: 40px;
    }
    .area-2 {
        grid-template-columns: 1fr;
    }
    .area-2--content {
        padding: 40px;
    }
    .area-3 {
        grid-template-columns: 1fr;
    }
    .area-3--content {
        padding: 40px;
    }
    .area-4 {
        grid-template-columns: 1fr;
    }
    .area-4--content {
        padding: 40px;
    }
    .area-5 {
        height: 200px;
    }
    footer {
        font-size: 16px;
        padding: 10px;
    }
    .menu-top a {
        margin-left: 40px;
        text-decoration: none;
        color:black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .menu-top .select {
        border-bottom: solid 3px black;
        padding-bottom: 9px;
    }
    .menu-top .select:hover {
        border-bottom: solid 3px rgb(253, 35, 35);
        padding-bottom: 9px;
    }
    .menu-top a:hover {
        padding: 7px;
        border-radius: 20px;
        background-color:purple;
        border-bottom: 2.4px solid black;
        color: black;
        text-decoration:dotted;
    }
    .menu-top {
        display: flex;   
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}